<div class="cuerpo bg-slate-800 py-20 px-10 flex gap-5 flex-wrap justify-center">

  <div class="card flex bg-slate-900 h-60 rounded-lg min-w-[45%]" *ngFor="let character of personajes">

    <img class="rounded-tl-lg h-60 min-w-70 rounded-bl-lg" src={{ character.image }} alt="img 1" />

    <div class="contenido h-10 w-full px-5">
      <p class="text-2xl text-white font-bold hover:text-orange-600 hover:cursor-pointer">{{ character.name }}
      </p>
      <div class="text-white mb-5 flex items-center">
        <div *ngIf="character.status">
          <div class="rounded-full w-2 h-2 bg-green-500 mr-2"></div>
        </div>
        <div *ngIf="!character.status">
          <div class="rounded-full w-2 h-2 bg-red-700 mr-2"></div>
        </div>
        {{ character.status ? "Alive" : "Dead" }} - {{character.specie}}
      </div>
      <div>
        <div class="text-slate-700">
          Last known location:
        </div>
        <div class="text-white hover:text-orange-600 hover:cursor-pointer">
          {{character.location.name}}
        </div>
      </div>
      <div>
        <div class="text-slate-700">
          First seen in:
        </div>
        <div class="text-white hover:text-orange-600 hover:cursor-pointer">
          {{character.episodes[0].name}}
        </div>
        <div class="flex justify-end pt-2">
          <button (click)="editar(character.name, character.image, character.status, character.specie, character.location, character.episodes[0])" class="text-white bg-green-800 px-4 py-1 rounded-lg">
            Editar
          </button>
        </div>
      </div>
    </div>

  </div>

</div>

<app-add-characters [nameEdit]="nameEdit" [imgEdit]="imgEdit" *ngIf="verdadCaracter" (cambioCharacter)="hideCaracterModal()"></app-add-characters>