<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

            <div
                class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all w-2/3">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <!--Logotipo-->
                        <div
                            class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                            <svg class="h-6 w-6 text-orange-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                            </svg>
                        </div>
                        <div class="mt-3 text-center w-full sm:mt-0 sm:ml-4 sm:text-left">
                            <!--Titulo-->
                            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">ADD LOCATION
                            </h3>
                            <!--Contenido-->
                            <div class="contenido flex flex-col gap-5 flex-wrap">
                                <div>
                                    <p>Name:</p>
                                    <input placeholder="Worldender's lair"
                                        #name
                                        class="text-lg border-2 px-2 w-full border-orange-500 focus:outline-none rounded-lg"
                                        type="text">
                                </div>
                                <div>
                                    <p>Type:</p>
                                    <input placeholder="Planet"
                                        #type
                                        class="text-lg border-2 px-2 w-full border-orange-500 focus:outline-none rounded-lg"
                                        type="text">
                                </div>
                                <div>
                                    <p>Dimension:</p>
                                    <input placeholder="unknown"
                                        #dimension
                                        class="text-lg border-2 px-2 w-full border-orange-500 focus:outline-none rounded-lg"
                                        type="text">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--Botones-->
                <div class="bg-gray-50 px-4 py-3 flex justify-end gap-5">
                    <button (click)="add()" type="button"
                        class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Add
                        location</button>

                    <button (click)="modal()" type="button"
                        class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Cancel</button>

                </div>
            </div>

        </div>
    </div>
</div>